{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
            Make Perfect
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700|Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
         <a href="/"><span>Make Perfect</span></a>
    </header>


{% block content %}
Content will be placed here.
{% endblock %}

    <footer>
        <p>Footer text will live here. </p>
    </footer>

</body>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</html>