body {
    background: black;
    color: #A5FDE4;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 50px;
    width: auto;
}

header {
    background: black;
    padding: 5px 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header span {
    font-size: 36px;
    font-weight: bold;
}

span:before {
    content: "\2669"; font-family:"Arial Black";
    color: greenyellow;
    padding-right: 5px;
}

span:after {
    content: "\2669"; font-family:"Arial Black";
    color: greenyellow;
    padding-left: 5px;
}

div {
    padding: 1px 25px;
}


#master-song-list {
    width: 400px;
    margin: auto;
    padding: 10px;
  }

/*--------------------------------------------
 HEADING STYLES
---------------------------------------------*/

h1 {
    font-size: 30px;
    color: greenyellow;
}


h2 {
    font-size: 22px;
}
/*--------------------------------------------
LINK STYLES
---------------------------------------------*/

a {
    color: #A5FDE4;
    text-decoration: none;
}

a:hover {
    color: greenyellow;
}


/*--------------------------------------------
LIST STYLES
---------------------------------------------*/

/*removes styling, padding, and margin from unordered lists*/
ul {
    list-style: none;
    padding:0;
    margin:0;
}
/*controls the padding and indentation of each list element*/
li {
    padding-left: 1.35em;
    text-indent: -.7em;
}

/*this creates the shape before each list element*/
li:before {
  /*CSS character code for a circle*/
/*    content: "\002022"; font-family:"Arial Black";
*/    /*character code for a heart*/
    content: "\266B"; font-family:"Arial Black";
    color: orchid;
    padding-right: 5px;
}


/*--------------------------------------------
SONG DETAIL STYLES
---------------------------------------------*/
#song-details h2, #chords h2, #lyrics h2, #notes h2 {
    font-weight: bold;
    padding-right: 10px;
    color: orchid;
}

#song-details h2 {
    display: inline;
}

pre {
    white-space: pre-wrap;
}

#lyrics pre, #notes pre {
        font-family: 'Dosis', sans-serif;
}


/*--------------------------------------------
BUTTON AND FORM STYLES
---------------------------------------------*/

button, #save-button {
    background: orchid;
    color: black;
    border: 10px dotted;
    font-weight: bold;
    border-radius: 15px;
    font-size: 12px;
    padding: 5px;
}

button:hover, #save-button:hover{
    background: greenyellow;
}

#save-button {
    width: 75px;
}

input, textarea {
    margin: 10px;
    background: #A5FDE4;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    font-family: 'Dosis', sans-serif;
}

textarea {
    height: 400px;
}

label {
    color: lightcyan;
    font-size: 18px;
}

