{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
    <div class="main-content">
        <div id="song-details">
            <h1>{{ song.song_title }}</h1>
            <h2>original artist:</h2>   {{ song.artist }}
            <br>
            <h2>key:</h2>   {{ song.key }}</p>
        </div>
        <div id="chords">
            <h2>chords:</h2>
            <pre>{{ song.chords }}</pre>
        </div>
        <div id="lyrics">
            <h2>lyrics:</h2>
            <pre>{{ song.lyrics }} </pre>
        </div>
        <div id="notes">
            <h2>notes:</h2>
            <pre>{{ song.notes }} </pre>
        </div>
        <div>
            <a href="/edit/{{ song.id }}/"><button id="edit-button">EDIT</button></a>
        </div>
    </div>

{% endblock %}