{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="main-content">
    <h1>{{ list.list_name }}</h1>
    <form id="edit-song-list" method="post">
        {% csrf_token %}
         <label for="edit-song-list-title">Add/edit list name:</label>
        <br>
         <input id='edit-song-list-title' value="{{ list.list_name }}" type="text" name="list_name">

        <br>


    <h1>Songs in List</h1>
    <ul>
        {% for list_item in list.listitem_set.all %}
                <li class="list-items">
                    <a href="/song/{{ list_item.song.id }}/">
                        {{ list_item.song.song_title }}</a>
                </li>
        {% endfor %}
    </ul>

    <h1>All Songs</h1>
    <ul>
{% for song in songs %}<li>{% if song.selected %}<input type="checkbox" checked="checked" name="cb_{{ song.id }}">
{% else %}<input type="checkbox" name="cb_{{ song.id }}">{% endif %}<a href="/song/{{ song.id }}/">{{ song.song_title }}</a></li>{% endfor %}
    </ul>
        <input class='save-button' type="submit" value="SAVE"/>
    </form>
</div>
{% endblock %}

