{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="main-content">
    <form id="edit-song" method="post">
        {% csrf_token %}
        <br>
        <h1>
            <strong>Edit/Add Song:</strong>
        </h1>

        <label for="edit-title">Song Title:</label>
        <br>
        <input id='edit-title' value="{{ song.song_title }}" type="text" name="song_title">
        <br>
        <label for="edit-artist">Original Artist:</label>
        <br>
        <input id='edit-artist' value="{{ song.artist }}" name="artist">
        <br>
        <label for="edit-key">Key:</label>
        <br>
        <input id='edit-key' value="{{ song.key }}" name="key">
        <br>
        <label for="edit-chords">Chords:</label>
        <br>
        <textarea id="edit-chords" name="chords">{{ song.chords }}</textarea>
        <br>
        <label for="edit-lyrics">Lyrics:</label>
        <br>
        <textarea id="edit-lyrics" name="lyrics">{{ song.lyrics }}</textarea>
        <br>
        <label for="edit-notes">Notes:</label>
        <br>
        <textarea id="edit-notes" name="notes">{{ song.notes }}</textarea>
        <br>
        <input id='save-button' type="submit" value="SAVE"/>
    </form>

</div>
    <br/>
{% endblock %}