{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class="main-content">
    <form id="edit-song-list" method="post">
        {% csrf_token %}
         <label for="edit-song-list">Add/edit list name:</label>
        <br>
         <input id='edit-song-list' value="{{ list.list_name }}" type="text" name="list_name">
        <br>
        <label for="song-select-list">Add song to list:</label>
        <br>
        <select id = "song-select-list">
            {% for song in songs %}
            <option value = "song.song_title">{{ song.song_title }}</option>
            {% endfor %}
        </select>
        <br>
        <input class='save-button' type="submit" value="SAVE"/>
    </form>
</div>
    <br/>
{% endblock %}