{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}

{#--------------------SIDE BAR CONTENT--------------------#}

<div class = "side-bar">
    <ul id='song-lists'>
        <h1>Song Lists</h1>

        <li class="song-list"><a href="#" onclick="showAllSongs()"> All Songs</a><a onclick="toggleSongList()">  &#8711</a></li>

        <ul id="sidebar-all-songs">
        {% if song_list %}
        {% for song in song_list %}
            <li>
                <a href="#" id="\song\{{ song.id }}/" class="list-items" onclick="showSongDetails({{ song.id }})">
                {{ song.song_title }}
                </a>
            </li>
        {% endfor %}

        {% else %}
        <p>No songs available.</p>
        {% endif %}
    </ul>

        {% if lists %}
            {% for list in lists %}
                <li class="song-list">
                    <a href="#" id="\list\{{ list.id }}" onclick="showListDetails({{ list.id }})" >{{ list.list_name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <p>No song lists available.</p>
        {% endif %}
        <br>

        <br>
        <button onclick="showListEditForm(0)">ADD NEW SONG LIST</button>
    </ul>
</div>

{#--------------------LIST OF ALL SONGS--------------------#}

<div class="main-content" id="all-songs">
    <h1>All Songs</h1>
    <ul>
        {% if song_list %}
        {% for song in song_list %}
            <li>
                <a href="#" id="\song\{{ song.id }}/" class="list-items" onclick="showSongDetails({{ song.id }})">
                {{ song.song_title }}
                </a>
            </li>
        {% endfor %}
        {% else %}
    <p>No songs available.</p>
        {% endif %}

        <br>
        <button onclick="showSongEditForm(0)">ADD NEW SONG</button>
    </ul>
</div>


{#--------------------SONG DETAILS--------------------#}

<div class="main-content" id="song-details">
    <div>
        <div>
            <h1 id="song-title"></h1>
            <h2>original artist:</h2>   <span id="artist"> </span>
            <br>
            <h2>key:</h2>  <span id="key"> </span>
        </div>
        <br>
        <div id="chords">
            <h2>chords:</h2>
            <pre id="chords-text"></pre>
        </div>
        <div id="lyrics">
            <h2>lyrics:</h2>
            <pre id="lyrics-text"></pre>
        </div>
        <div >
            <h2>notes:</h2>
            <pre id="notes"></pre>
        </div>
        <div>
            <button onclick="showSongEditForm()">EDIT</button>
        </div>
    </div>
</div>

{#--------------------EDIT SONG FORM--------------------#}

<div class="main-content" id="edit-song">
    <form id="edit-song-form" method="post">
        {% csrf_token %}
        <h1 id="song-title"></h1>
        <h2>Edit/Add Song:</h2>

        <label for="edit-title">Song Title:</label>
        <br>
        <input id='edit-title'  type="text" name="song_title" required>
        <br>
        <label for="edit-artist">Original Artist:</label>
        <br>
        <input id='edit-artist' name="artist">
        <br>
        <label for="edit-key">Key:</label>
        <br>
        <input id='edit-key' name="key">
        <br>
        <label for="edit-chords">Chords:</label>
        <br>
        <textarea id="edit-chords" name="chords"></textarea>
        <br>
        <label for="edit-lyrics">Lyrics:</label>
        <br>
        <textarea id="edit-lyrics" name="lyrics"></textarea>
        <br>
        <label for="edit-notes">Notes:</label>
        <br>
        <textarea id="edit-notes" name="notes"></textarea>
        <br>
        <button type="submit">SAVE</button>
    </form>
</div>

{#--------------------LIST DETAILS--------------------#}

<div class="main-content" id="song-list">
    <h1 id="list-title"></h1>
    <ul id="songs-in-list">

    </ul>
    <div>
        <br>
        <button onclick="showListEditForm()">EDIT LIST</button>
    </div>
</div>


{#--------------------EDIT LIST DETAILS FORM--------------------#}
<div class="main-content" id="edit-song-list-details">
    <h1 id="edit-list-title"></h1>
    <form id="edit-song-list" method="post">
        {% csrf_token %}
         <label for="edit-song-list-title">Add/edit list name:</label>
        <br>
         <input id='edit-song-list-title' type="text" name="list_name">
        <br>


    <h2>Songs in List</h2>
        <ul id="songs-in-edit-list-form">

        </ul>

    <h2>Available Songs</h2>

        <ul id="available-songs">

        </ul>
        <br>

{#        This is the template code for creating a list of checkboxes. #}
{#    <ul>#}
{#{% for song in songs %}<li>{% if song.selected %}<input type="checkbox" checked="checked" name="cb_{{ song.id }}">#}
{#{% else %}<input type="checkbox" name="cb_{{ song.id }}">{% endif %}<a href="/song/{{ song.id }}/">{{ song.song_title }}</a></li>{% endfor %}#}
{#    </ul>#}
{#        <br>#}
{#        <br>#}
       <button type="submit">SAVE</button>
    </form>
</div>
{% endblock %}