{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div class = "side-bar">
    <ul id='song-lists'>
        <h1>Song Lists</h1>
        <li class="song-list"><a href="#" onclick="showAllSongs()"> All Songs</a><a onclick="toggleSongList()">  &#8711</a></li>

        <ul id="sidebar-all-songs">
        {% if song_list %}
        {% for song in song_list %}
            <li>
                <a href="#" id="\song\{{ song.id }}/" class="list-items" onclick="showSongDetails({{ song.id }})">
                {{ song.song_title }}
                </a>
            </li>
        {% endfor %}
        {% else %}
        <p>No songs available.</p>
        {% endif %}
    </ul>
        {% if lists %}
            {% for list in lists %}
                <li class="song-list">
                    <a href="#" id="\list\{{ list.id }}" onclick="showListDetails({{ list.id }})" >{{ list.list_name }}</a>
                </li>
            {% endfor %}
        {% else %}
            <p>No song lists available.</p>
        {% endif %}
        <br>
        <a href="/editlist/0/"><button>ADD NEW SONG LIST</button></a>
    </ul>
</div>

{#LIST OF ALL SONGS    #}


<div class="main-content" id="all-songs">
    <h1>All Songs</h1>
    <ul>
        {% if song_list %}
        {% for song in song_list %}
            <li>
                <a href="#" id="\song\{{ song.id }}/" class="list-items" onclick="showSongDetails({{ song.id }})">
                {{ song.song_title }}
                </a>
            </li>
        {% endfor %}
        {% else %}
    <p>No songs available.</p>
        {% endif %}

        <br>
        <a href="/edit/0/"><button>ADD NEW SONG</button></a>
    </ul>
</div>


{#SONG DETAILS#}

<div class="main-content" id="song-details">
    <div>
        <div>
            <h1 id="song-title"></h1>
            <h2>original artist:</h2>   <span id="artist"> </span>
            <br>
            <h2>key:</h2>  <span id="key"> </span>
        </div>
        <br>
        <div id="chords">
            <h2>chords:</h2>
            <pre id="chords-text"></pre>
        </div>
        <div id="lyrics">
            <h2>lyrics:</h2>
            <pre id="lyrics-text"></pre>
        </div>
        <div >
            <h2>notes:</h2>
            <pre id="notes"></pre>
        </div>
        <div>
            <button onclick="showSongEditForm()">EDIT</button>
        </div>
    </div>
</div>

{#EDIT SONG FORM#}

<div class="main-content" id="edit-song">
    <form id="edit-song-form" method="post">
        {% csrf_token %}
        <h1 id="song-title"></h1>
        <h2>Edit/Add Song:</h2>

        <label for="edit-title">Song Title:</label>
        <br>
        <input id='edit-title'  type="text" name="song_title" required>
        <br>
        <label for="edit-artist">Original Artist:</label>
        <br>
        <input id='edit-artist' name="artist">
        <br>
        <label for="edit-key">Key:</label>
        <br>
        <input id='edit-key' name="key">
        <br>
        <label for="edit-chords">Chords:</label>
        <br>
        <textarea id="edit-chords" name="chords"></textarea>
        <br>
        <label for="edit-lyrics">Lyrics:</label>
        <br>
        <textarea id="edit-lyrics" name="lyrics"></textarea>
        <br>
        <label for="edit-notes">Notes:</label>
        <br>
        <textarea id="edit-notes" name="notes"></textarea>
        <br>
        <button type="submit">SAVE</button>
    </form>
</div>


<div class="main-content" id="song-list">
    <h1 id="list-title"></h1>
    <ul id="songs-in-list">

    </ul>
<div>
    <br>
    <a href=""><button>EDIT LIST</button></a>
</div>

</div>

{% endblock %}

